 .navbar
    {
    position:fixed;
    left:0px;
    width:100%;
    top:0px;
    background-color:rgb(50,84,123);
    border-radius: 0px;
    padding:15px 40px;
    z-index: 20;
     height:100px;
}

  .signup-container{
    position:absolute;
    top:110px;
    width:100%;
    height:500px;
    margin:0 auto;
     background-color: rgb(241,243,245);
  }
.row{
    position:relative;
    width:50%;
    float:right;
    padding-right: 30px


}

  .login-con{
    position:relative;
    float:right;
    }


 .footer
 {
    position:absolute;
    bottom:0px;
    height:50px;
    background-color: rgb(50,84,123);
    width:100%;
    padding :20px 10px;
 }

 footer li{
    position:relative;
    width:40%;
    padding: 4px 10px;
    text-decoration: none;
 }

  li{
        display:inline;
        text-decoration: none;
    }
   